<div class="home">
  <img src="../../../../assets/images/restaurantCover.jpg" />
</div>
<div class="row">
  <div class="col" style="background-color:white;height: 100%;align-content: center;">Profile</div>
  <div class="col" style="background-color:white;height: 100%;align-content: center;">
    <ol>
      <li>
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="What's your name?">
        </mat-form-field>
      </li>
      <li>
        <button mat-raised-button (click)="openDialog()">Pick one</button>
      </li>
      <li *ngIf="animal">
        You chose: <i>{{animal}}</i>
      </li>
    </ol>
    
  </div>
  <div class="col" style="background-color:white;height: 100%;align-content: center;">Map</div>
</div>